.searchContent {
    display: flex;
}

.searchSideBar {

    margin: 0;
    padding-top: 0px;
    padding-right: 1em;
    padding-bottom: 0px;
    padding-left: 0px;

    width: 20rem;
    height: 75%;

    min-width: 20rem;
    min-height: 600px;
    
}

.filterSB {
    background-color: #d4e157;
    min-height: 600px;
    padding-top: 2em;
    padding-right: 3.5em;
    padding-bottom: 3.5em;
    padding-left: 3.5em;

    border-bottom-right-radius: .75rem;
    box-shadow: 0 2px 0 rgba(48,50,100,.14), 0 1px 8px 0 rgba(48,50,100,.14), 0 4px 8px 0 rgba(48,50,100,.14)
}

.headingSB {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: default;
    // margin-bottom: 1rem;
}

.nameFilter {
    margin-top: 1rem;
}

.stateSelect {
    max-height: 300px !important;
}

.check {
    list-style-type: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: white;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: 0.2s;
    border-radius: 10px;  
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.searchMain {
    width: 100%;
}

.cardGrid {
    padding-left: 0;
    padding-top: 2rem;
    padding-right: 1rem;
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.collegeCard {
    min-width: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.collegeCard:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
    cursor: default;
 }

@media (max-width: 999px) {
    .searchContent {
        flex-direction: column;
    }
    
    .searchSideBar {
        display: none;
    }

    .mobileFilter {
        padding: 1rem;
        background-color: #d4e157;
    }

    .mbFilterWrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .showRsltsWrap {
        flex: 1;
    }

    .filterBtnWrap {
        flex: 1;
    }

    .filterBtn {
        float: right;
    }
    
    .cardGrid {
        padding-left: 1rem;
    }
}

@media (min-width: 1000px) {
    .searchContent {
        flex-direction: row;
    }

    .mobileFilter {
        display:none;
    }
}